<%- include("header") -%>

<nav class="navbar navbar-expand-lg navbar-light navbar sticky-top">
    <a class="navbar-brand" href="#">Meal Plan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/specificmeal/Monday">Monday</a>
            <a class="nav-item nav-link" href="/specificmeal/Tuesday">Tuesday</a>
            <a class="nav-item nav-link" href="/specificmeal/Wednesday">Wednesday</a>
            <a class="nav-item nav-link" href="/specificmeal/Thursday">Thursday</a>
            <a class="nav-item nav-link" href="/specificmeal/Friday">Friday</a>
            <a class="nav-item nav-link" href="/specificmeal/Saturday">Saturday</a>
            <a class="nav-item nav-link" href="/specificmeal/Sunday">Sunday</a>
        </div>
    </div>
    </div>
    <div>
        <a href="#" class="navbarlink">Link for Inventory</a>
    </div>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Hello, <%= user %>!</h1>
    <p style="font-weight: bold;">Need to buy The following :</p>
    <% inventorydata.forEach(function(inventory){ %>
    <p><%= inventory.name %></p>
    <% }) %>

</div>

<div class="container mealdiv">

    <% mealdata.forEach(function(meal){ %>

    <div id="<%= meal.day %>">
        <h3><%= meal.day %></h3>

        <div class="row perday">
            <div class="col">
                <h4>Breakfast</h4>
                <h5><%= meal.mealForTheDay.breakfast.name %></h5>
            </div>
            <div class="col">
                <h4>Lunch</h4>
                <h5><%=meal.mealForTheDay.lunch.name %></h5>
            </div>
            <div class="col">
                <h4>Dinner</h4>
                <h5><%=meal.mealForTheDay.dinner.name %></h5>
            </div>
            <div class="col">
                <a href="/specificmeal/<%= meal.day %>"> Expand </a>
            </div>
        </div>
        <br>
    </div>

    <% }) %>
</div>


<%- include("footer") -%>