<%- include("header") -%>

<nav class="navbar navbar-expand-lg navbar-light navbar sticky-top">
    <a class="navbar-brand" href="#">Meal Plan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Monday</a>
            <a class="nav-item nav-link" href="#">Tuesday</a>
            <a class="nav-item nav-link" href="#">Wednesday</a>
            <a class="nav-item nav-link" href="#">Thursday</a>
            <a class="nav-item nav-link" href="#">Friday</a>
            <a class="nav-item nav-link" href="#">Saturday</a>
            <a class="nav-item nav-link" href="#">Sunday</a>
        </div>
    </div>
    <div>
        <a href="#" class = "navbarlink">Link for Inventory</a>
    </div>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Hello, <%= user %>!</h1>
    <p style="font-weight: bold;">Need to buy The following</p>
    <% inventorydata.forEach(function(inventory){ %>
    <p><%= inventory.name %></p>
    <% }) %>

</div>

<div class="container mealdiv">

    <% mealdata.forEach(function(meal){ %>
    <h3><%= meal.day %></h3>

    <div class="row perday">
        <div class="col">
            <h4>Breakfast</h4>
            <h5><%= meal.mealForTheDay.breakfast.name %></h5>
        </div>
        <div class="col">
            <h4>Lunch</h4>
            <h5><%=meal.mealForTheDay.lunch.name %></h5>
        </div>
        <div class="col">
            <h4>Dinner</h4>
            <h5><%=meal.mealForTheDay.dinner.name %></h5>
        </div>
        <div class="col">
            <h4>Expand</h4>
        </div>
    </div>
    
    <% }) %>
</div>


<%- include("footer") -%>