<%- include("header") -%>


<div class="jumbotron">
    <h1 class="display-4">Hello, <%= user %>!</h1>
    <p style="font-weight: bold;">Need to buy The following :</p>
    <% inventorydata.forEach(function(inventory){ %>
    <p><%= inventory.name %></p>
    <% }) %>

</div>

<div class="container mealdiv">

    <% mealdata.forEach(function(meal){ %>

    <div id="<%= meal.day %>">
        <h3><%= meal.day %></h3>

        <div class="row perday">
            <div class="col">
                <h4>Breakfast</h4>
                <h5><%= meal.mealForTheDay.breakfast.name %></h5>
            </div>
            <div class="col">
                <h4>Lunch</h4>
                <h5><%=meal.mealForTheDay.lunch.name %></h5>
            </div>
            <div class="col">
                <h4>Dinner</h4>
                <h5><%=meal.mealForTheDay.dinner.name %></h5>
            </div>
            <div class="col">
                <a href="/specificmeal/<%= meal.day %>"> Expand </a>
            </div>
        </div>
        <br>
    </div>

    <% }) %>
</div>


<%- include("footer") -%>