<%- include("header") -%>





<div class="wrapper">
    <h1 class="dayyy"><%= day %></h1>
    <br>
    <div class="details">
        <div class="breakfast">
            <h3>Breakfast</h3>
            <h4>Name : <%= specificdata.mealForTheDay.breakfast.name %></h4>
            <h4>Ingredients : <%= specificdata.mealForTheDay.breakfast.recipe %></h4>
            <a href="<%= specificdata.mealForTheDay.breakfast.link %>" target="_blank">Recipe</a>
            <br>
            <a href="<%= specificdata.mealForTheDay.breakfast.video %>" target="_blank">Video Reference</a>
            <br>

        </div>
        <br>
        <div class="lunch">
            <h3>Lunch</h3>
            <h4>Name : <%= specificdata.mealForTheDay.lunch.name %></h4>
            <h4>Ingredients : <%= specificdata.mealForTheDay.lunch.recipe %></h4>
            <a href="<%= specificdata.mealForTheDay.lunch.link %>" target="_blank">Recipe</a>
            <br>
            <a href="<%= specificdata.mealForTheDay.lunch.video %>" target="_blank">Video Reference</a>
        </div>
        <br>
        <div class="Dinner">
            <h3>Dinner</h3>
            <h4>Name : <%= specificdata.mealForTheDay.dinner.name %></h4>
            <h4>Ingredients : <%= specificdata.mealForTheDay.dinner.recipe %></h4>
            <a href="<%= specificdata.mealForTheDay.dinner.link %>" target="_blank">Recipe</a>
            <br>
            <a href="<%= specificdata.mealForTheDay.dinner.video %>" target="_blank">Video Reference</a>
        </div>
        <br>
    </div>


    <!-- Button trigger modal -->
    <div class="text-center">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#staticBackdrop">
            Edit
        </button>
        <br>
        <br>
        <br>
    </div>
    <!-- Modal -->
    <form action="/updatemeal/<%= day %>" method="post">
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
            role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Edit <%= day %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <p class="colorblack">Breakfast</p>
                        <div class="form-group row">

                            <label class="colorblack col-sm-4">Name :</label>
                            <div class="col-sm-8">
                                <input type="text" name="bname" value="<%= specificdata.mealForTheDay.breakfast.name %>"
                                    size="30">
                            </div>

                            <label class="colorblack col-sm-4">Ingredient :</label>
                            <div class="col-sm-8">
                                <input type="text" name="bingredient"
                                    value="<%= specificdata.mealForTheDay.breakfast.recipe %>" size="30">
                            </div>


                            <label class="colorblack col-sm-4">Link :</label>
                            <div class="col-sm-8">
                                <input type="text" name="blink" value="<%= specificdata.mealForTheDay.breakfast.link %>"
                                    size="30">
                            </div>

                            <label class="colorblack col-sm-4">Video :</label>
                            <div class="col-sm-8">
                                <input type="text" name="bvideo"
                                    value="<%= specificdata.mealForTheDay.breakfast.video %>" size="30">
                            </div>
                        </div>

                        <p class="colorblack">Lunch</p>
                        <div class="form-group row">

                            <label class="colorblack col-sm-4">Name :</label>
                            <div class="col-sm-8">
                                <input type="text" name="lname" value="<%= specificdata.mealForTheDay.lunch.name %>"
                                    size="30">
                            </div>

                            <label class="colorblack col-sm-4">Ingredient :</label>
                            <div class="col-sm-8">
                                <input type="text" name="lingredient"
                                    value="<%= specificdata.mealForTheDay.lunch.recipe %>" size="30">
                            </div>


                            <label class="colorblack col-sm-4">Link :</label>
                            <div class="col-sm-8">
                                <input type="text" name="llink" value="<%= specificdata.mealForTheDay.lunch.link %>"
                                    size="30">
                            </div>

                            <label class="colorblack col-sm-4">Video :</label>
                            <div class="col-sm-8">
                                <input type="text" name="lvideo" value="<%= specificdata.mealForTheDay.lunch.video %>"
                                    size="30">
                            </div>
                        </div>

                        <p class="colorblack">Dinner</p>
                        <div class="form-group row">

                            <label class="colorblack col-sm-4">Name :</label>
                            <div class="col-sm-8">
                                <input type="text" name="dname" value="<%= specificdata.mealForTheDay.dinner.name %>"
                                    size="30">
                            </div>

                            <label class="colorblack col-sm-4">Ingredient :</label>
                            <div class="col-sm-8">
                                <input type="text" name="dingredient"
                                    value="<%= specificdata.mealForTheDay.dinner.recipe %>" size="30">
                            </div>


                            <label class="colorblack col-sm-4">Link :</label>
                            <div class="col-sm-8">
                                <input type="text" name="dlink" value="<%= specificdata.mealForTheDay.dinner.link %>"
                                    size="30">
                            </div>

                            <label class="colorblack col-sm-4">Video :</label>
                            <div class="col-sm-8">
                                <input type="text" name="dvideo" value="<%= specificdata.mealForTheDay.dinner.video %>"
                                    size="30">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="newlist" value="<%= day %>">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<%- include("footer") -%>